

<div class="card-mb-4">
    <div class="card-body carte" style="">
        <h5 class="card-title">
            <a href="{{path('bien',{id:biens.id,slug:biens.slug})}}"><span class='medieval'>{{biens.titre[:1]}}</span>
                {{biens.titre[1:]}}</a>
        </h5>
        <p class="chevrondroit" >></p>
        <p class="chevrongauche"><</p>
        {%if biens.photos |length >3%}
         <div class="col cadre" >
            {%for photo in biens.photos %}
                {%if loop.index <7 %}
                    
                        <img src="{{ vich_uploader_asset(photo,'imageFile')}}" class="photocadre" style="z-index: 10;" >
                    
                {%endif%}


            {%endfor%}
        </div>
        {%else%}
           
            {% set images=["carre5.jpg", "carre4.jpg","carre2.jpg","carre3.jpg","carre1.jpg","carre6.jpg"]%}
            {%for photo in images %}
                
                    <div class="col cadre" >
                        <img src="/images/{{photo}}" class="photocadre" style="z-index: 10;" alt="image">
                    </div>
                


            {%endfor%}
         {%endif%}    
        <div class="rens">
            <p class="card-text" style="font-size: 1.3rem">{{biens.ville}} ( {{biens.codepostal}} )</p>
            <p class="card-text">{{biens.surface}} m²</p>
            <p class="card-text" style="font-size:1rem; font-weight: bold">{{biens.prix}} €</p>
            
        </div>
        <div class="date">
            <p class="card-text" style="margin-left: 6%;font-size: 0.7em;">En vente depuis le : {{biens.date|date('d-m-Y')}} </p>
        </div>
        <img src="/images/enluminure3.png" class="enluminure" style="z-index: 10;" alt="image">
    </div>
</div>

  
          






