
{#{%set l=random(3,3)%}#}
{%set l=4 %}
<div class="card-mb-3">
    <div class="card-body carte{{ l }}" style=" ">
        <img src="/images/pli.png" class="enluminure{{ l }}" style="z-index: 10;" alt="image">
        <img src="/images/orange.jpg" class="orangec2" style="z-index: 10;" alt="image">
        <img src="/images/orangec.jpg" class="orange2" style="z-index: 10;" alt="image">

        <p class="chevrondroit{{ l }} chevrondroit42" >></p>
        <p class="chevrongauche{{ l }} chevrongauche42"><</p>

        {%if biens.photos |length >3%}
            <div class="col cadre{{ l }}2" >
                {%for photo in biens.photos %}
                    {%if loop.index <7 %}

                        <img src="{{ vich_uploader_asset(photo,'imageFile')}}" class="photocadre{{ l }}" style="z-index: 10;" >

                    {%endif%}


                {%endfor%}
            </div>
        {%else%}

            {% set images=["carre5.jpg", "carre4.jpg","carre2.jpg","carre3.jpg","carre1.jpg","carre6.jpg"]%}
            {%for photo in images %}

                <div class="col cadre{{ l }}2" >
                    <img src="/images/{{photo}}" class="photocadre{{ l }}" style="z-index: 10;" alt="image">
                </div>



            {%endfor%}
        {%endif%}
        <div class=" chambre{{ l }}2" >
            {%if biens.chambres %}
                <img src="{{vich_uploader_asset(biens, 'chambresFile')}}" class="ichambre{{ l }}" style="z-index: 10;" alt="image">
            {%else%}
                <img class="ichambre{{ l }}" src="/images/cchambre.jpg" alt="chambre"><br>
            {%endif%}

        </div>
        <div class="region{{ l }}2" >
            {%if biens.regions%}
                <img src="{{vich_uploader_asset(biens, 'regionsFile')}}" class="iregion{{ l }}" style="z-index: 10;" alt="image">
            {%else%}
                <img class="ichambre{{ l }}" src="/images/cregion.jpg" alt="region"><br>
            {%endif%}
        </div>
        <div class="titre2" >
        <h5 class="card-title">
                <a href="{{path('bien',{id:biens.id,slug:biens.slug})}}" class='lien{{ l }}'><span class='medieval{{ l }} medieval{{ l }}2'>{{biens.titre[:1]}}</span>
                    {{biens.titre[1:]}}</a>
        </h5>
         <p class="card-text{{ l }} ville{{ l }}2" style="">{{biens.ville}} ( {{biens.codepostal}} )
                <span class="card-text{{ l }} prix{{ l }}">{{biens.surface}} m²</span>
            <span class="card-text{{ l }} prix{{ l }}" style="">{{biens.prix}} €</span></p>
        </div>
        <div class="rens{{ l }}2">
            
           
                <p class="card-text{{ l }}2 description2" style="">{{biens.description}}</p>
                


        </div>
                <hr class="trait2">
                 <hr class="trait2"style="top:86%">
        <div class="date">
            <p class="card-text{{ l }} date{{ l }}2" style="font-size: 0.7em;">En vente depuis le : {{biens.date|date('d-m-Y')}} </p>
        </div>

    </div>
</div>









