
{% block stylesheets %}



{% endblock %}
{% block barre %}
    <div class="barre ">
         <div class="element">
            <a class="nav-link" style="color: #fcecec !important;" href="{{path('acheter')}}">
                Louer</a>
                <hr>
        </div>

        <div class="element">
            <a class="nav-link" style="color: #fcecec !important;" href="{{path('acheter')}}">
                 Acheter</a><hr>
        </div>

        <div class="element">
            <a class="nav-link" style="color: #fcecec !important;" href="{{path('admin')}}">
                Administrer</a><hr>
        </div>

        <div class="element">
            <a class="nav-link disabled" style="color: #fcecec !important;" href="{{path('loisirs')}}">
                Loisirs</a><hr>
        </div>

        <div class="element">
            <a class="nav-link disabled" style="color: #fcecec !important;" href="{{path('admininterets')}}">
                Administrer loisirs</a>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}