{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/cartevertical.css">
    <link rel="stylesheet" type="text/css" href="css/ventevertical.css">
    <link rel="stylesheet" type="text/css" href="css/menuvertical.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Italiana|ZCOOL+XiaoWei" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Muli|Quicksand|Raleway|Tajawal" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> 
{% endblock %}
    
{% block body %}

    <div class="herbe" >
        <img src="/images/herbe.jpg" class="transparent" style="z-index: 10;" alt="image">
    </div>
    <div class="italie" >
        <img src="/images/carrelogo.jpg" class="transparente" style="z-index: 10;" alt="image">
    </div>
    <div class="parent">
        {% block barre%}
            {%include 'immo/menuvertical.html.twig'%}
        {% endblock %}
        <div class="jumbotron">
            
                {{form_start(form)}}
                <div class="formulaire">
                    <div class="col">
                        {{form_row(form.Prixmax)}}
                    </div>
                    <div class="col">
                        {{form_row(form.Surfacemin)}}
                    </div>
                    <div class="col">
                        {{form_row(form.Ville)}}
                    </div>
                    <div class="col">
                        {{ form_row(form.address, {id: 'search_address'}) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.distance) }}
                    </div>
                    <div class="col">
                        
                            <button class="btn btn-primary" style='background-color: #5c4942; border-color: #322;width: 165px;'>Rechercher</button>
                        
                    
                </div>
                {{form_end(form)}}
            </div>
        </div>      
        <div class="container mt-4">
            <h1 style=' margin-left: -2%'>Ventes en pays médiéval :</h1>
            <div class="row flex">
                {% for biens in bien%}

                    <div class="col-md-4">
                        {%include 'immo/cartevertical.html.twig'%}
                    </div>

                {%endfor%}
            </div>
            <div class="pagination">
                {{knp_pagination_render(bien)}}
            </div>

        </div>
    </div>









{% endblock %}
{% block javascripts %}
    <script src="js/slidephotos.js"></script>
    
    {{ encore_entry_script_tags('app') }}
        <script src="{{ asset('build/app.js') }}"></script>
        <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
    
{% endblock %}