{% extends 'immo/menu.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/carte.css">
    {% endblock %}
    
{% block contenu %}

    
      
          <div class="jumbotron">
              <div class="container">
                  {{form_start(form)}}
                  <div class="form-row align-items-end">
                      <div class="col">
                          {{form_row(form.Prixmax)}}
                      </div>
                      <div class="col">
                          {{form_row(form.Surfacemin)}}
                      </div>
                      <div class="col">
                          {{form_row(form.Ville)}}
                      </div>
                      <div class="col">
                          <div class="form-group">
                              <button class="btn btn-primary">Rechercher</button>
                          </div>
                      </div>
                  </div>
                  {{form_end(form)}}
              </div>
          </div>      
    <div class="container mt-4">
        <h1>Maisons en vente</h1>
        <div class="row flex">
            {% for biens in bien%}
                
                    <div class="col-md-4">
                        {%include 'immo/carte.html.twig'%}
                    </div>
                
            {%endfor%}
        </div>
        <div class="pagination">
            {{knp_pagination_render(bien)}}
        </div>
        
    </div>

           
            
          






{% endblock %}
{% block javascripts %}
    <script src="js/slidephotos.js"></script>
{% endblock %}