{% extends 'base.html.twig' %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #28292a !important;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" style="color: #eae9e8 !important;" href="{{path('home')}}">Accueil</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" style="color: #eae9e8 !important;" href="{{path('acheter')}}">Acheter <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #eae9e8 !important;" href="{{path('admin')}}">Vendre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="color: #eae9e8 !important;" href="#">Louer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="color: #eae9e8 !important;" href="#">Mettre en location</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-4">
    <h1>Gérer les biens</h1>
    <table class  ="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for propriete in proprietes%}
                <tr>
                    <td>{{propriete.titre}}</td>
                    <td>
                        <a href="{{path('adminbien',{id: propriete.id})}}" class="btn btn-secondary">Editer</a>
                    </td>
                    <td>
                        <form method="post" action="{{path('supprimerbien',{id: propriete.id})}}"
                              onsubmit="return confirm('Supprimer ce bien ? ' ) ;">
                            <input type="hidden"  name="_method" value="DELETE">
                            <input type="hidden"  name="_token"  value="{{csrf_token('delete'~propriete.id)}}">
                            <button class="btn btn-danger" style="margin-top: 0%">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
        <div class="text-right">
            <a href="{{ path('adminnouveaubien') }}" class="btn btn-primary">Nouveau bien</a>
        </div>
</div>
            




{% endblock %}