

<div class="card-mb-4">
    <div class="card-body carte" style='background-image: url("../images/outre.jpg");border-color: #222'>
        <h5 class="card-title">
            <a href="{{path('loisir',{id:loisirs.id,slug:loisirs.slug})}}">{{loisirs.nom}}</a>
        </h5>
        <p class="chevrondroit" >></p>
        <p class="chevrongauche"><</p>
        {%if loisirs.photo1 %}
            
                    <div class="col cadre" >
                        <img src="{{ vich_uploader_asset(loisirs,'photo3File')}}" class="photocadre" style="z-index: 10;" >
                        <img src="{{ vich_uploader_asset(loisirs,'photo2File')}}" class="photocadre" style="z-index: 10;" >
                        <img src="{{ vich_uploader_asset(loisirs,'photo1File')}}" class="photocadre" style="z-index: 10;" >
                    </div>
     
        {%else%}
       
                    <div class="col cadre" >
                        <img src="/images/carre2.jpg" class="photocadre" style="z-index: 10;" alt="image">
                    </div>

         {%endif%}    
        <div class="rens">
            <p class="card-text" style="font-size: 1.3rem">{{loisirs.ville}} ( {{loisirs.codepostal}} )</p>
            <p class="card-text">{{loisirs.type1}} </p>
            <p class="card-text" style="font-size:1rem; font-weight: bold">{{loisirs.lien}} €</p>
            
        </div>
        <img src="/images/liseret.jpg" class="enluminure liseret" style="z-index: 10;" alt="image">
    </div>
</div>

  
          






